body {
    background-color: #17181b;
}
h1 {
    text-align: center;
    color: white;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
header {
    padding: 20px 0 0 0;
    background: white;
    text-align: center;
 
}

header h1{
    color: #8e8e8e;
}


#logoMenu{
    border-radius: 50%;
}

/* --------------Start Bottom Up Style-------------- */
.cm-up {
	display: none;
	position: fixed;
	background: #fbaf32;
	height: 30px;
	border-radius: 50px;
	padding: 10px;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
}

.cm-up .cm-text-up {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	color: #fff;
	float: left;
	padding: 0;
	font-size: 16px;
	line-height: 30px;
	transition: 0.4s;
	width: 0px;
}

.cm-up .cm-icon {
	background: #fbaf32;
	color: #1d2124;
	font-size: 20px;
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.4s
}

.cm-up:hover > .cm-text-up {
	width: 150px;
	padding: 0 6px;
}
.cm-up:hover > .cm-icon {
	background: #fff;
}
/* --------------End Bottom Up Style-------------- */

@media (min-width : 750px) {
    header {
        text-align: left;
    }
}

.borrar-platilo {
    background-color: #fbaf32;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color:rgb(71, 71, 71);
    font-weight: bold;

}

ul {
    list-style: none;
}

.hero {
    background-image: url(../img/fondo-menu.jpg);
    height: 551px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.encabezado {
    margin: 30px 0;
    color: white;
}

.submenu {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.submenu a{
    font-size: 20px;
    margin-left: 5px;
    padding: 20px;
 }

 .submenu i{
    color:#fbaf32;
    font-size: 22px;
    transition: color 300ms;
 }

 .submenu i:hover{
    color:#777777
 }


.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    color: white;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background: #17181b;
    padding: 20px;
}
.vacio {
    padding: 10px;
    background-color: #fbaf32;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.button {
    background-color: #fbaf32;
    color: rgb(255, 255, 255);
}
.contenido-hero {
    margin-top: 80px;
    color: white;
}
.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}


.contenido-hero h2 {
    background: #fbaf32;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
 }

 .contenido-hero i {
    margin: 5px;
}

.contenido-hero form #buscador {
    height: 50px;
    margin-bottom: 0;
}
.contenido-hero form .submit-buscador {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
    background-image: url(../img/lupa.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
}

.barra {
    padding: 20px 0;
    background: #fbaf32;
    background: -webkit-linear-gradient(left, #b95a00 0%,#ad5400 100% );
}
.barra p {
    margin: 0;
    color: white;
}
.icono {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono {
        margin-bottom: 0;
    }
}

.icono1 {
    background-image: url(../img/icono1.png);
}
.icono2 {
    background-image: url(../img/icono2.png);
}
.icono3 {
    background-image: url(../img/icono3.png);
}

#lista-platillos .row {
    margin-bottom: 20px;
}
.agregar-carrito{
    margin: 10px 0;
}
.card {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: #1d2124;
}
@media (min-width:550px){
    .card {
        text-align: left;
    }
}
.info-card {
    padding: 10px 20px;
    color: white;
}
.info-card p,
.card h4 {
    margin-bottom: 5px;
}
.info-card .precio {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
}
.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}


/* iconos de redes sociales flotantes */

.container-redes{
    position: fixed;
    bottom: 94px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    z-index: 1;
}

.container-redes a{
    margin-top: 4px;
}

.container-redes img{
    width: 50px;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 100%;
    transition: all 300ms;
    text-decoration: none;
}

.container-redes a:hover img{
    background: #33af3e;
    opacity: 0.8;
}


.ubicacion{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    border-radius: 6px;
    box-shadow: -10px 0 30px -20px rgb(255, 253, 253);
}

/* footer*/

/* Estilo del footer base */
.container-footer{
    width: 100%;
    padding: 40px 0;
    background-color: white;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

/* Estilo del logo en el footer pie de pagina centar */
.container-footer footer .logo-footer{
   text-align: center;
}

.container-footer footer .redes-footer a{
    text-decoration: none;
}


/* Estilo del logo en el footer pie de pagina tamaño */
.container-footer footer .logo-footer img{
    width: 100px;
    border-radius: 100%;
}

/* Estilo del logo en el footer pie de pagina redes centar*/
.container-footer footer .redes-footer{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Estilo del logo en el footer pie de pagina redes diseño */
.container-footer footer .redes-footer .icon-redes-footer{
  font-size: 20px;
  margin: 10px;
  background: #efefef;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #a2a2a2;
}

/* Estilos de los iconos */
.container-footer footer .redes-footer .fa-facebook-f{
    background: #2957e2;
    color: #ffff;
}

.container-footer .redes-footer:hover .fa-facebook-f{
	animation: icono .5s ease;
}

.container-footer footer .redes-footer .fa-facebook-messenger{
    background: linear-gradient(to bottom right, #476ff3, #3744ee, #c950da, #e274b4, #c53069);
    color: #ffff;
}

.container-footer .redes-footer:hover .fa-facebook-messenger {
	animation: icono .5s ease;
}

.container-footer footer .redes-footer .fa-instagram{
    background: linear-gradient(to bottom right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #ffff;
}

.container-footer .redes-footer:hover .fa-instagram {
	animation: icono .5s ease;
}

.container-footer footer .redes-footer .fa-youtube{
   background: red;
    color: #ffff;
}

.container-footer .redes-footer:hover .fa-youtube {
	animation: icono .5s ease;
}

.container-footer footer .redes-footer .fa-telegram-plane{
    background: #599ffa;
    color: #ffff;
}

.container-footer .redes-footer:hover .fa-telegram-plane {
	animation: icono .5s ease;
}

@keyframes icono {
	from {
		transform: rotate3d(0,0,0,0);
	}
	to {
		transform: rotate3d(0,1,0, 360deg);
	}
}


/* Estilo del footer pie de pagina del hr y h4 */
.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background:  grey;
}

.container-footer footer h4{
    text-align: center;
    margin-top: 40px;
    color:  #fbaf32;
    font-weight: 500px;
    font-size: 18px;
}

.container-footer footer h4 a{

    color: #25D366;
    font-size: 18px;

}

/* fin footer*/
@media screen and (max-width: 1220px){
    
    .submenu,
    .encabezado{
        max-width: 1200px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1020px){
    .submenu {
    display: flex;
    justify-content: center;
    }

}


@media screen and (max-width: 800px){


    .submenu {
        display: flex;
        padding: 20px;
    }
    
    .submenu a{
       font-size: 20px;
       padding: 20px;
       display: flex;
       text-decoration: none;
       justify-content: right;
    }

    .submenu i{
        color: #fbaf32;
        font-size: 20px;
        transition: color 300ms;
        
     }
    
     .submenu i:hover{
        color:#777777;
        
     }

     .hero {
        background-image: url(../img/fondoQr.jpg);
     
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

